<div class="container">
  <h1>Welcome to the Voting System</h1>

  <img src="https://configcat.com/images/home/logo.svg" alt="ConfigCat Logo" width="200" height="200" class="logo" />

  <div *ngIf="votingFeatureEnabled && !votingClosed; else votingClosedTemplate" class="voting-feature">

    <div class="input-wrapper">
      <label>
        <input type="radio" name="mode" value="single" (change)="switchVotingMode('single')"
          [checked]="votingMode === 'single'" [disabled]="votingClosed" />
        Single Vote
      </label>
      <label>
        <input type="radio" name="mode" value="multiple" (change)="switchVotingMode('multiple')"
          [checked]="votingMode === 'multiple'" [disabled]="votingClosed" />
        Multiple Votes
      </label>
    </div>

    <div class="voting-form">
      <h3>Time left: {{ countdown }} seconds</h3>

      <img *ngIf="imageUrl" [src]="imageUrl" alt="Random" class="voting-image" />

      <label for="number">Enter a value from <b>1 - 10</b></label>
      <input name="number" type="number" #voteInput min="1" max="10" placeholder="Enter your vote" class="vote-input"
        [disabled]="votingClosed" />
      <button class="vote-button" (click)="submitVote(voteInput.valueAsNumber)"
        [disabled]="votingMode === 'single' && votes.length > 0">
        Send Vote!
      </button>

      <h3 *ngIf="votes.length > 0">Average Vote: {{ getAverageVote() }}</h3>
    </div>

  </div>



  <ng-template #votingClosedTemplate>
    <h3>The voting has ended!</h3>
  </ng-template>
</div>
