<div class="container">
  <h1>Welcome to the voting system</h1>

  <img
    src="https://configcat.com/images/home/logo.svg"
    alt="ConfigCat Logo"
    width="200"
    height="200"
  />

  <div
    class="voting-form"
    *ngIf="votingFeatureEnabled && !votingClosed; else votingClosedTemplate"
  >
    <h3>Time left: {{ countdown }} seconds</h3>
    <p>Voting Mode: {{ votingMode }}</p>

    <input
      type="number"
      #voteInput
      min="1"
      max="10"
      placeholder="Enter your vote"
    />
    <button (click)="submitVote(voteInput.valueAsNumber)">Send Vote!</button>

    <h3 *ngIf="votes.length > 0">Average Vote: {{ getAverageVote() }}</h3>
  </div>

  <ng-template #votingClosedTemplate>
    <h3>Sorry, voting has ended. Stay tuned to see the results!</h3>
  </ng-template>
</div>
